table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  thead {
    th {
      padding: 1rem;
      vertical-align: bottom;
      border-bottom: 1px solid var(--primary-color);
      color: var(--primary-color);
      font-weight: 400;
    }
  }
}
